html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #111;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#header {
    width: 100%;
    font-size: 2em;

    background: linear-gradient(30deg, #5a0ea5 0%, #180ea5 100%);
    color: #eee;

    z-index: 100;
}

#title-text {
    font-size: 1.5em;
    padding: .1em .5em;
    text-shadow: black 0 0 .3em;
}

#content {
    display: flex;
    position: relative;
    flex: auto;
    flex-flow: row;
}

#chat_list {
    background: #333;
    flex-direction: column;
    display: flex;

    box-shadow: 0 0 3em #151515;
    z-index: 10;
}

.chat_tab {
    display: flex;
    width: 90%;
    height: 1.5em;
    padding: 5%;
    color: white;

    margin-right: 1px;
    background: linear-gradient(90deg, #282888 50%, #353535 50%);
    background-position: 100% 0;
    background-size: 250% auto;

    align-items: center;

    transition: 0.5s;
}

.notification {
    animation: color-change 1s infinite; 
}

.chat_tab:hover {
    background-position: 20% 0;
    cursor: pointer;
}

.chat_tab_selected {
    background: linear-gradient(90deg, #33A 50%, #353535 50%) !important;
    background-size: 200% auto !important;
    background-position: 0 0 !important;
}

#chat_container {
    display: flex;
    flex-flow: column;
    flex: auto;

    background: #111;
}

#active_chat {
    display: flex;
    flex: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    color: white;
    background: #1A1A1A;
    align-items: flex-end;

    transition: 0.5s;
}

.no_active_chat {
    width: 0 !important;
}

.chat_content {
    overflow: auto;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    min-width: 50vw;
}

.chat_message {
    padding: 0 1em;
    background: #1A1A1A;
    transition: background 0.5s;
}

.unsent {
    background: #333;
}

.chat_message:first-of-type {
    padding-top: 1em;
}

.chat_message:last-of-type {
    padding-bottom: 1em;
}

.chat_message div {
    display: inline-block;
}

.chat_message div:first-of-type {
    padding-right: 0.5em;
    font-weight: bold;
}

form {
    margin: 0;
}

input {
   margin-top: 0.7em;
   padding: .5em;
   border: none;
   border-radius: .75em;
   font-size: 1em;

   width: 100%;
}

#username {
    transition: 0.5s;
}

input[type="submit"] {
    margin-bottom: 0.7em;
    background: #55F;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #33D;
}

input[type="submit"]:disabled {
    background: #33A;
    color: #55F;
    cursor: default;
}

#chat_list #user_search_form {
    box-shadow: 0 0 2em #222;
    z-index: 10;
}

#chat_list #user_search {
    margin-top: 0;
}

#chat_list #active_chats {
    overflow-y: auto;
}

#textbox {
    margin: 0;
    padding: 1em;
    width: 100%;
    transition: 0.5s;
}

#textbox:disabled {
    color: #111;
    background-color: #111;
}

#textbox::-webkit-input-placeholder {
    transition: 0.5s;
}

#textbox:disabled::-webkit-input-placeholder {
    color: #333;
}

.quiet_textbox {
    background: #222;
    color: white;
    border-radius: 0;
}

#overlay {
    z-index: 1000;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.95);

    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1.0;

    transition: 0.5s;
}

#overlay > div {
    color: white;
    padding: 2em;
    border-radius: 1em;
    width: 20em;
    background: linear-gradient(30deg, #5a0ea5 0%, #180ea5 100%);
}

.hidden_overlay {
    display: none;
}

strong {
    color: white;
    font-size: 1.5em;
}

#group_settings {
    width: 30em !important;
}

#add_group_members {
    background: #1a042f;
    border-radius: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
    box-shadow: inset 0 2em 5em -3em #000;
}

#add_group_members_inner {
    height: 15em;
    border-radius: 0.5em;
    overflow-x: hidden;
}

.group_mem_select:first-of-type {
    padding-top:.75em;
}

.group_mem_select {
    padding: 0.5em;
    cursor: pointer;
    background: inherit;
    transition: 0.2s;

    border-bottom: 5px solid #1a042f;
    margin-top: -5px;
}

.group_mem_toggled {
    background: deeppink;
    border-bottom: 5px solid #990053;
}

#add_group_members_inner::-webkit-scrollbar {
    width: 0px;
}

.small_button {
    display: inline-block;
    color: white;
    height: 1.2em;
    width: 1.2em;
    font-size: 1.3em;
    margin-right: .3em;
    float: right;
}

.ui_button {
    background: #444;
    text-align: center;
    box-shadow: 0 0 2em #222;
    transition: 0.5s;
    cursor: pointer;
}

.ui_button:hover {
    background: #3A3A3A;
    box-shadow: 0 0 0 #333;
}

#group_settings_close {
    margin: 0 auto;
    width: 3em;
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: white;
}

a:hover {
    color: #CCC;
}

.login_mode {
    transition: .5s;
    height: 2em;
    overflow: hidden;
}

#register_toggle {
    height: 3em;
}

.toggle_hidden {
    height: 0 !important;
    opacity: 0.0 !important;
    overflow: hidden;
}

#login_status {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 1.2em;
    transition: 0.5s;
}

#current_user_info {
    padding-left: 0.5em;
    padding-top: 0.5em;
    height: 2em;
    background: #333;

    transition: 0.5s;

    z-index: 100;
}

#current_user_info strong {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-right: .5em;
}

#current_user_info a {
    color: #666;
    text-decoration: none;
}

#current_chat_members {
    background: #333;
    color: #EEE;
    width: 10em;
    padding:1em;
    overflow: hidden;
    transition: 0.5s;
}

.no_current_chat {
    width: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#current_chat_members strong {
    font-size: 1.2em;
}

#current_chat_member_list {
    margin-bottom: 2em;
}

.chat_option {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    font-size: 0.8em;
    transition: 0.15s;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #333;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #555;
}

@keyframes color-change {
    0% { color: white; }
    50% { color: deeppink; }
    100% { color: white; }
}
